<form class="form-auth" ng-submit="login(credentials)">
	<h2>Log In</h2>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="credentials.username" placeholder="Username" class="form-control"><br>
	<input type="password" ng-model="credentials.password" placeholder="Password" class="form-control"><br>
	<input type="submit" value="Log in" class="btn btn-primary" />
	<!--<input type="submit" ng-click="signUp(credentials)" value="Sign up" class="btn btn-primary" />-->
</form>
